# API настройки
API_BASE_URL=https://inkpredict.vercel.app/api
MARKET_ID=109

# Настройки торговли
# Минимальная и максимальная сумма одной ставки
MIN_BET_AMOUNT=0.01
MAX_BET_AMOUNT=1.0

# Минимальное и максимальное количество ставок за одну итерацию
# Софт будет рандомно выбирать количество ставок в этом диапазоне
MIN_BETS_COUNT=1
MAX_BETS_COUNT=3

# Минимальный и максимальный интервал между итерациями (в секундах)
# Софт будет рандомно выбирать интервал в этом диапазоне
MIN_BET_INTERVAL_SECONDS=50
MAX_BET_INTERVAL_SECONDS=70

# Выбирать рандомные маркеты (true/false)
RANDOM_MARKETS=true

# Настройки логирования
LOG_LEVEL=INFO
